## 1.Write a Python program to convert kilometers to miles?

In [2]:
kilometers = float(input("enter kilometers to covert into miles = "))
miles =  kilometers * 0.62137119
print("%.2f kilometers = %.2f miles"%(kilometers,miles))

enter kilometers to covert into miles = 1
1.00 kilometers = 0.62 miles

## 2.Write a Python program to convert Celsius to Fahrenheit?

In [3]:
celsius = float(input())
fahrenheit = (celsius *1.8) + 32
print("%.2f celsius = %.2f  fahrenheit"%(celsius,fahrenheit))

1
1.00 celsius = 33.80  fahrenheit

## 3.Write a Python program to display calendar?

In [4]:
import calendar

In [6]:
year = int(input(" Enter Year : "))

print("Calender")
print(calendar.calendar(year))

 Enter Year : 2022
Calender
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

## 4.Write a Python program to solve quadratic equation?

In [8]:
import cmath

In [14]:
a = int(input())
b = int(input())
c = int(input())

#d = b(square) - 4ac
d = (b**2) - (4*a*c)

#calulate the formula
solution1 = (-b + cmath.sqrt(d))/(2*a)
solution2 = (-b - cmath.sqrt(d))/(2*a)

print("the solution to the quadratic"
      "equation are {} and {} ".format(solution1,solution2))

1
6
5
the solution to the quadraticequation are (-1+0j) and (-5+0j)

## 5.Write a Python program to swap two variables without temp variable?

In [1]:
 
x = 5
y = 7
 
print ("Before swapping: ")
print("Value of x : ", x, " and y : ", y)
 
# code to swap 'x' and 'y'
x, y = y, x
 
print ("After swapping: ")
print("Value of x : ", x, " and y : ", y)

Before swapping:
Value of x :  5  and y :  7
After swapping:
Value of x :  7  and y :  5