In [ ]:
1.In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
    
    Answer:
        
         *      : this is expression.
        
        'hello': this is value.
        
        -87.8 : this is value.
        
         -    : this is expression.
           
         /    : this is expression.
                
         +    : this is expression.
            
         6    : this is value.

In [ ]:
2. What is the difference between string and variable?

   Answer:
        
             Variable are nothing but reserved memory location to store values.
             This means when you creat a variable you reserved some space in memoery
            
             A string is the values inside the quotes assigned to a string.

            A variable can hold a string, but a string can't hold a variable.

In [ ]:
3. Describe three different data types.

  Answer:
        
        String : String data type in python are defined as a contigious set of characters represented in the quotation marks.
                 Python allows for either pairs of single quotes,double quotes and triple quotes.
                
        Integer : Integer data type store negetive value,positive value,whole number whithout a decimal point number.
            
        floating point numbers : A positive or negative whole number with a decimal point.
            
    Example -:

In [14]:
  #String example.
    
s = "shahzad haidari"
type(s)

str

In [13]:
#Integer example.
a = 10
type(a)

int

In [12]:
#floating point number example

f = 13.44
type(f)

float

In [ ]:
4. What is an expression made up of? What do all expressions do?
 
    Answer:     

    An expression is anything that evaluates to a value. Or that could be on the right-hand side of an assignment:

In [11]:

# variables
z = 10
x = 15

# expression
c = z + x
print(c)

25

In [ ]:
5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

   Answer:
        
    Expession : An expression evaluates to a value.
        
    Statement : A statement executes something.
        
    spam = 10 , value 10 in assigned to spam, and now spam will have value 10. 
    
    But in expression a = b+c, the value of a depends on the value of b and c.

In [ ]:
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

  Answer:
        after execution the statement answer is 23.

In [10]:
bacon = 22
j = bacon + 1
print(j)

23

In [ ]:
7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3
 
    Answer : Both expressions are the same.

In [8]:
'spam' + 'spamspam'

'spamspamspam'

In [4]:
'spam' * 3

'spamspamspam'

In [ ]:
8. Why is eggs a valid variable name while 100 is invalid?

  Answer:
        
        Because variable name is always start from string.

In [5]:
100 = "shahzad"

SyntaxError: cannot assign to literal (Temp/ipykernel_8328/1517783406.py, line 1)

In [7]:
#Example:

eggs = 100

In [ ]:
9. What three functions can be used to get the integer, floating-point number, or string version of a value?

 Answer:
        The three function will be:
            
            integer : int()
            floating-point number : float()
            string : str()
                
            String will convert the values to integer, float or string versions of the values passed to them.

In [ ]:
10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

  Answer :
        We need to covert an integer value into a string value, Because we can't concatinate a string value into a integer value.