# 1. What are escape characters, and how do you use them?

Answer -  Escape sequences allow you to include special characters in strings. To do this, simply add a backslash before the character you want to escape.

In [1]:
exp1 = "what's your name"
exp2 ='what\'s your name' 
exp3 = "Hello\niNeuron "
print(exp1)
print(exp2)
print(exp3)

what's your name
what's your name
Hello
iNeuron

# 2. What do the escape characters n and t stand for?

Answer = "\t" is a tab, "\n" is a newline

In [4]:
print("Shahazad\tHaidari")
print("Shahzad\nHaidari")

Shahazad	Haidari
Shahzad
Haidari

# 3. What is the way to include backslash characters in a string?

 Answer = Use double backslash(\\) to include a backslash in string.

In [5]:
print("Shahzad\\haidari")

Shahzad\haidari

# 4. The string "Howl's Moving Castle" is a correct value. Why isn't the single quote character in the word Howl's not escaped a problem?

Answer = The single quote in Howl's is fine because you've used double quotes to mark the beginning and end of the string. 
         like wise we can use double quotes in with single quotes.

In [7]:
print("Howl's Moving Castle")

Howl's Moving Castle

In [11]:
# like wise we can use double quote in side single quote
print('It"s me haidari')

It"s me haidari

# 5. How do you write a string of newlines if you don't want to use the n character?

Answer - we can use the parameter end ='\n' in print function

In [19]:
print("printing something in multiple lines",end = '\n')
print("newline")

printing something in multiple lines
newline

# 6. What are the values of the given expressions?
# 'Hello, world!&#39;[1]
# 'Hello, world!&#39;[0:5]
# 'Hello, world!&#39;[:5]
# 'Hello, world!&#39;[3:]

In [32]:
a ='Hello, world!'
a[1]

'e'

In [ ]:
# a ="Hello, world!'
a[0:5]

In [34]:
a ='Hello, world!'
a[0:5]

'Hello'

In [35]:
a ='Hello, world!'
a[:5]

'Hello'

In [36]:
a ='Hello, world!'
a[3:]

'lo, world!'

# 7. What are the values of the following expressions?
# Hello&#39;.upper()
# Hello&#39;.upper().isupper()
# Hello&#39;.upper().lower()

In [37]:
"hello".upper()

'HELLO'

In [38]:
'Hello'.upper().isupper()

True

In [39]:
'Hello'.upper().lower()

'hello'

# 8. What are the values of the following expressions?
# 'Remember, remember, the fifth of July.'.split() -> splits with space and returns list of words
 #  '-'.join('There can only one.'.split()) splits with space and join with '_'

In [40]:
'Remember, remember, the fifth of July.'.split()

['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']

In [41]:
'-'.join('There can only one.'.split())

'There-can-only-one.'

# 9. What are the methods for right-justifying, left-justifying, and centering a string?

Answer - The following methods are used for justifying strings
         ljust()
         rjust()
         center()

In [42]:
# left justified
str ="Hello"
str.ljust(10,"-")

'Hello-----'

In [43]:
# right justified
str ="Hello"
str.rjust(10,"-")

'-----Hello'

In [46]:
# center justified
str ="Hello"
str.center(11,"-")

'---Hello---'

# 10. What is the best way to remove whitespace characters from the start or end?
lstrip() -> removes white spaces from left of the string

rstrip() -> removes whitespaces from right of the string

In [47]:
str ="  shahzad haidari  "
str.lstrip()

'shahzad haidari  '

In [48]:
str ="  shahzad haidari  "
str.rstrip()

'  shahzad haidari'